@import '../../styles/variables.scss';

// .popup {
// 	position: absolute;
// 	top: 50%;
// 	left: calc(50% - 325px);
// 	z-index: 1001;
// 	display: flex;
// 	align-items: center;
// 	justify-content: space-between;
// 	padding: 40px;
// 	max-width: 750px;
// 	width: 100%;
// 	background: $lite-background;
// 	box-shadow: $box-shadow;
// 	border-radius: $border-radius;
// 	margin-bottom: 300px;
// }
// .popup {
// 	position: absolute;
// 	top: 50%;
// 	left: calc(50% - 325px);
// 	display: none;
// 	align-items: center;
// 	justify-content: space-between;
// 	padding: 40px;
// 	max-width: 750px;
// 	width: 100%;
// 	background: $lite-background;
// 	box-shadow: $box-shadow;
// 	border-radius: $border-radius;
// 	margin-bottom: 300px;
// }
// .popup.active {
// 	display: flex;
// 	position: absolute;
// 	top: 50%;
// 	left: calc(50% - 325px);
// 	align-items: center;
// 	justify-content: space-between;
// 	padding: 40px;
// 	max-width: 750px;
// 	width: 100%;
// 	background: $lite-background;
// 	box-shadow: $box-shadow;
// 	border-radius: $border-radius;
// 	margin-bottom: 300px;
// }

.close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	svg {
		transition: 0.5s;
	}
	&:hover {
		svg {
			transform: rotate(360deg);
		}
	}
}
.modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scale(0);
}

.modal.active {
	transform: scale(1);
}

.modalContent {
	transition: 0.5s;
	width: 374px;
	height: 160px;
	padding: 15px;
	border-radius: 12px;
	background-color: white;
	position: fixed;
	top: 410px;
	left: 550px;
	display: flex;
	align-items: center;
	justify-content: center;

	h1 {
		font-weight: bold;
		font-size: 25px;
		color: black;
	}
}
