@import '../../styles/variables.scss';

// .popup {
// 	position: absolute;
// 	top: 50%;
// 	left: calc(50% - 325px);
// 	z-index: 1001;
// 	display: flex;
// 	align-items: center;
// 	justify-content: space-between;
// 	padding: 40px;
// 	max-width: 750px;
// 	width: 100%;
// 	background: $lite-background;
// 	box-shadow: $box-shadow;
// 	border-radius: $border-radius;
// 	margin-bottom: 300px;
// }
// .popup {
// 	position: absolute;
// 	top: 50%;
// 	left: calc(50% - 325px);
// 	display: none;
// 	align-items: center;
// 	justify-content: space-between;
// 	padding: 40px;
// 	max-width: 750px;
// 	width: 100%;
// 	background: $lite-background;
// 	box-shadow: $box-shadow;
// 	border-radius: $border-radius;
// 	margin-bottom: 300px;
// }
// .popup.active {
// 	display: flex;
// 	position: absolute;
// 	top: 50%;
// 	left: calc(50% - 325px);
// 	align-items: center;
// 	justify-content: space-between;
// 	padding: 40px;
// 	max-width: 750px;
// 	width: 100%;
// 	background: $lite-background;
// 	box-shadow: $box-shadow;
// 	border-radius: $border-radius;
// 	margin-bottom: 300px;
// }

.close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	svg {
		transition: 0.3s;
	}
	&:hover {
		svg {
			transform: rotate(360deg);
		}
	}
}
.modal {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scale(0);
}

.modal.active {
	transform: scale(1);
}

.modalContent {
	padding: 20px;
	border-radius: 12px;
	background-color: white;
	position: fixed;
	top: 300px;
	left: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 400px;
}

// .day {
// 	.day__temp {
// 		font-weight: 500;
// 		font-size: 60px;
// 		color: $primary-color;
// 		margin-bottom: 12px;
// 	}
// 	.day__name {
// 		font-size: 25px;
// 		line-height: 30px;
// 		color: #000000;
// 		margin-bottom: 12px;
// 	}
// 	.img {
// 		svg {
// 			width: 53px;
// 			height: 53px;
// 		}
// 		margin-bottom: 12px;
// 	}

// 	.day__time,
// 	.day__city {
// 		font-size: 15px;
// 		color: $base-color;
// 	}
// }
